<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Student Profile - Event Nexus</title>
</head>

<body>

    <h1>Student Profile</h1>

    <p>This is your Event Nexus student profile.</p>

    <h2>Student Options</h2>

    <a href="{% url 'my_registrations' %}">
        My Registrations
    </a>

    <br><br>

    <a href="{% url 'student_calendar' %}">
        My Calendar
    </a>

    <br><br>
    
    <a href="{% url 'student_settings' %}">
        Settings
    </a>

    <br><br>

    <a href="{% url 'student_dashboard' %}">
        Back to Home
    </a>

</body>
</html>